<%= turbo_include_tags %>
<%= turbo_stream_from "leagues" %>
<main class="container">
  <div class="header">
    <h2>Leagues</h2>
    <%= link_to "New league",
                new_league_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(League.new) } %>
  </div>
  <%= turbo_frame_tag League.new %>
  <%= turbo_frame_tag "leagues" do %>
    <%= render @leagues %>
  <% end %>
</main>