<%= simple_form_for event, html: { class: "event form" } do |f| %>
  <% if event.errors.any? %>
    <div class="error-message">
      <%= event.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div style="display:flex; flex-wrap: wrap;">
      <%= f.input :title, input_html: { autofocus: true } %>
      <%= f.input :start_date, as: :date, html5: true  %>
      <%= f.input :end_date, as: :date, html5: true  %>
      <%= f.input :season, as: :integer %>
      <%= f.file_field :image %>
  </div>

  <%= link_to "Cancel", events_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>