<%= turbo_include_tags %>
<%= turbo_stream_from "events" %>
<main class="container">
  <div class="header">
    <h2>Events</h2>
    <%= link_to "New event",
                new_event_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Event.new) } %>
  </div>
  <%= turbo_frame_tag Event.new %>
  <%= turbo_frame_tag "events", class:"events" do %>
    <% @events.each do |event| %>
      <%= link_to event_path(event) do %>
        <%= render partial: "event_card", locals: { event: event } %>
      <% end %>
    <% end %> 
  <% end %>
</main>